---
import MainLayout from "../layouts/MainLayout.astro";
import * as info from '../pages/info/get_to_know_me.md';
import ProjectCard from "../layouts/ProjectCard.astro";
import Navigation from "../layouts/Navigation.astro";
const allProjects = await Astro.glob("../pages/projects/*.md");
---

<MainLayout title="Who is Nikolaj Licht">

    <div slot="top-section" class="top-section-content">
        <div class="me_heading upper-left">
            <h1>{info.frontmatter.job_title}</h1>
        </div>

        <div class="me_heading" id="me_image_container">
            <img id="me_image" src={info.frontmatter.cover} alt={"Photograph of Nikolaj Licht, very employable looking"}>
        </div>

        <div class="me_heading lower-right">
            <h1>{info.frontmatter.name_first}</h1>
            <h1>{info.frontmatter.name_last}</h1>
        </div>
    </div>


    <div slot="bottom-section" class="bottom-section-content">
        <h2 class="me_heading upper-left">Stuff to look at</h2>
        <div class="projects">
        {
            allProjects.map((post) => <ProjectCard {post} />)
        }
        </div>
    </div>
 
</MainLayout>

<style>

    #me_image_container{
        grid-area: picture;
        display: block; 
        max-height: 100%;
        max-width: 100%;
        overflow: auto;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        background-color: white;
    }

    #me_image{
        max-height: 100%;
        min-width: 100%;
        max-width: 100%;
        object-fit: cover;
        object-position: 0 42%;
    }

    .projects{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 3em;
        padding: 3em;
    }

    .top-section-content{
        display: grid;
        max-height: 80vh;
        grid-template-columns: 5fr minmax(4em, 20%) 5fr ;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas: 
        " upperLeft . upperRight "
        " picture picture picture "
        " . . lowerRight ";
        gap: 1em;
    }

    .me_heading{
        font-size: 2vi;
        color: var(--dark-color);
        text-transform: uppercase;
        vertical-align: middle;
    }
    .me_heading > h1{
        margin-top: 0;
        margin-bottom: 0;
    }

    .upper-left{
        grid-area: upperLeft;
    }

    .upper-right{
        grid-area: upperRight;
    }

    .lower-right{
        grid-area: lowerRight;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
    }

    .lower-right > h1{
        width: 100%;
        bottom:0;
        flex: 0 0 5em;;
    }


    @media only screen and (max-width: 600px) {
        .projects{
            display: block;
        }
    }
</style>