---
import MainLayout from "./MainLayout.astro";
import VerticalLine from "./VerticalLine.astro";
import GalleryTile from "./GalleryTile.astro";
import GradientBox from "./GradientBox.astro"
const {frontmatter} = Astro.props;

let coverImage : any = "";
if (frontmatter.mainMediaType == "image"){
    let images = await Astro.glob('../images/projects/**/*.{png,jpeg,jpg,gif,webp}').then(files => {
        files.map((checkFile) => {
            if(checkFile.default.includes(frontmatter.mainMediaLink)){
                coverImage = checkFile.default;
            }
        });
    });
}


const hasLinks = frontmatter.applinks != undefined && frontmatter.applinks.lenght > 0;
---

<MainLayout>
    <div>
        <GradientBox showNavigation={true}>
            <div class="top-section-content">
                <div class="content">
                    <div class="media-container">
                        {frontmatter.mainMediaType === "youtube" ? 
                        <iframe width="700" height="300" src={frontmatter.mainMediaLink} title={frontmatter.mainMediaName} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> : "" }
                        {frontmatter.mainMediaType === "image" ? 
                        <img src={coverImage} alt="cool images about stuff"/> : ""}
                    </div>

                    <div class="info-container">
                        <h1 class="info-field title">{frontmatter.title}</h1>
                        <div class="info-field date">
                            <p>{frontmatter.date}</p>
                        </div>
                        <div class="info-field roles">
                            {
                                frontmatter.roles.map((role) => <p class="multiple-data">{role}</p><VerticalLine class="hide-last"/>)
                            }
                        </div>
                        <div class="info-field tech">
                            {
                                frontmatter.tech.map((tech) => <p class="multiple-data">{tech}</p><VerticalLine class="hide-last"/>)
                            }
                        </div>
                        <div class="info-field summary">
                            <p class="summary-text">{frontmatter.shortText}</p>
                        </div>
                            {frontmatter.applinks && frontmatter.applinks.length > 0 ? (
                            <div class="info-field links">
                                {frontmatter.applinks.map((link) => (
                                <>
                                    <a class="multiple-data" href={link.link}>{link.name}</a>
                                    <VerticalLine class="hide-last" />
                                </>
                                ))}
                            </div>
                            ) : null}
                    </div>


                </div>
            </div>
        </GradientBox>
        <GradientBox>
            <div class="bottom-section-content">
                <div class="bottom-left gallery">
                    {
                        frontmatter.media.map((mediaSection) => <GalleryTile {mediaSection}></GalleryTile>)
                    }
                </div>

                <div class="bottom-right">
                </div>
            </div>
        </GradientBox>
    </div>
</MainLayout>

<script src="../js/test.js"> </script>


<style>
    body{
        background-color: var(--dark-color);
    }

    .content{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        " image info "
        " image info "
        " image info ";
        gap: 1em;
        min-height: 50vh;
        width: 95%;
        margin: auto;
    }

    .media-container{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .media-container img{
            width: 100%;
            object-fit: contain;
            max-height: 600px;
    }

    .media-container iframe{
        width: 100%;
        height: 70%;
        padding-left: 4em;
        
    }

    .info-field{
        background-color: var(--egg-color-dark, red);
        display: flex;
        justify-content: space-around;
        align-items:center;
        padding: 0.5rem;
    }


    .multiple-data{
        text-align:center;
    }

    .info-container{
        padding: 1em 4em 1em 2em;
        grid-area: info;

        display: grid;
        grid-template-columns: 1fr .2fr 1fr 1fr;
        /* grid-template-rows: 2fr 1fr 1fr 3fr 1fr; */
        grid-template-areas: 
        " title title title title "
        " year year roles roles "
        " tech tech tech tech "
        " summary summary summary summary "
        " links links links links ";
        gap: 1em;
    }


    .title{
        grid-area: title;
        margin: 0;
    }

    h1{
        text-transform:uppercase;
        font-size: 1.5vw;
    } 


    .date{
        grid-area: year;
        text-align: center;
    }

    .roles{
        grid-area: roles;
    }
    
    .tech{
        grid-area: tech;
    }

    .summary{
        grid-area: summary;
        padding: 1em;
    }

    .links{
        grid-area: links;
    }

    .info-field .hide-last:last-child{
        display: none;
    }


    @media only screen and (max-width: 1200px) {

    .content{
        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 3fr 1fr; */
        grid-template-areas: 
        " info"
        " image";
        gap: 1em;
        min-height: 50vh;
    }

    .title{
        font-size: 2em;
        margin: 0;
        padding: 0 1em 0 1em !important;
    }

    .info-container{
        padding: 0;
    }

    .media-container{
        padding: 0;
    }

    .media-container iframe{
        padding: 0;
    }

    .info-field{
        background-color: var(--egg-color-dark);
        padding: 0;
    }

    .summary{
        padding: 1em;
    }
}


</style>